.registerContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(https://i.pinimg.com/564x/90/17/a1/9017a19be8fed9558692f5d87687ad99.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerForm {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  height: auto;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.registerForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

.registerForm form {
  display: flex;
  flex-direction: column;
}

.registerForm .inputContainer {
  margin-bottom: 15px;
}

.registerForm label {
  margin-bottom: 5px;
  font-weight: bold;
}

.registerForm input[type="text"],
.registerForm input[type="email"],
.registerForm input[type="password"] {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
}

.registerForm button[type="submit"] {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #124948;
  color: #fff;
  cursor: pointer;
}

.registerForm button[type="submit"]:hover {
  background-color: #56d4d2;
}

.registerForm p {
  margin-top: 20px;
  text-align: center;
}

.registerForm p a {
  color: #007bff;
}